<!DOCTYPE html>
<html>

<head>
    <title>News Online</title>
    <link rel="stylesheet" href="CSS/home_top.css">
    <link rel="stylesheet" href="CSS/style_chude.css">
    <link rel="stylesheet" href="CSS/motTrangTin_div2.css">
    <link rel="stylesheet" href="CSS/style_chude_lienquan.css">
    <link rel="stylesheet" href="CSS/phan_Cuoi_Trang.css">

<style>
</style>
</head>

<body>
     <!--THANH TOP-->
     <div id="zn-top">
            <!--START HEADING-->
            <header class="hdr" id="headerd">
               <div class="menu_bar">
                   <!--START MENU RIGHT-->
                   <div class="contnr" id="contnr_right">
                       <div class="tpMnRt tpMnRtx">
                           <ul>
                               <!--bong da-->
                               <li class="rlt">
                                   <a href="/bongda" title="Bóng đá">
                                       <img class="initial loading"
                                           src="../Image/bong_da.png"
                                           alt="Khong the hien thi">
                                   </a>
                                   <a href="/bongda" class="tit" title="Bóng đá">Bóng đá</a>
                               </li>
                               
                               <!--kinh doanh-->
                               <li class="rlt">
                                   <a href="/kinhdoanh" title="Kinh doanh">
                                       <img src="../Image/kinh_doanh.png"
                                           class="initial loading" alt="">
                                   </a>
                                   <a href="/kinhdoanh" class="tit" title="Kinh doanh">Kinh doanh</a>
                               </li>
                               <!--thi truong-->
                               <li class="rlt">
                                   <a href="/thitruong" title="Thị trường - Tiêu dùng">
                                       <div class="thi_truong_icon_full">
                                            <img class="initial loading"
                                            src="../Image/thi_truong.png"
                                            alt="">
                                       </div>
                                   
                                       
                                       <a href="/thitruong" class="thi_truong_text_full tit" title="Thị trường - Tiêu dùng">thị trường</a>
                                       
                                   </a>
                                   
                               </li>
                               <!--Suc khoe-->
                               <li class="rlt">
                                    <div class="suckhoe_icon">
                                   <a href="/suckhoe" title="Sức khỏe - Đời sống">
                                       
                                            <img class="initial loading"
                                            src="../Image/suc_khoe.png"
                                            alt="">
                                       
                                       
                                   </a>
                                   <a href="/suckhoe" class="tit" title="Sức khỏe - Đời sống">Sức khỏe</a>
                                </div>
                               </li>
                               <!--Hi-tech-->
                               <li class="rlt">
                                   <a href="/hitech" title="Thời trang Hi-tech">
                                       <img class="initial loading"
                                           src="../Image/hi_tech.png"
                                           alt="">
                                   </a>
                                   <a href="/hitech" class="tit" title="Thời trang Hi-tech">Hi-tech</a>
                               </li>
                               <!--Đời sống showbiz-->
                               <li class="rlt">
                                   <a href="/showbiz" title="Đời sống showbiz">
                                       <img class="initial loading"
                                           src="../Image/showbiz.png"
                                           alt="">
                                   </a>
                                   <a href="/showbiz" class="tit" title="Đời sống showbiz"> Showbiz</a>
                               </li>
                               <!--the gioi-->
                               <li class="rlt">
                                   <a href="/thegioi" title="Thế giới">
                                       <img class="initial loading"
                                           src="../Image/the_gioi.png"
                                           alt="">
                                   </a>
                                   <a href="/thegioi" class="tit">Thế giới</a>
                               </li>
                              
                               <!--phia dep-->
                               <li class="rlt">
                                   <a href="/phaidep" title="Phái đẹp">
                                       <img class="initial loading"
                                           src="../Image/phai_dep.png"
                                           alt="">
                                   </a>
                                   <a href="/phaidep" class="tit" title="Phái đẹp">Phái đẹp</a>
                               </li>
                               <!--am thuc-->
                               <li class="rlt">
                                   <a href="/amthuc" title="Ẩm thực">
                                       <img class="initial loading"
                                           src="../Image/am_thuc.png"
                                           alt="">
                                   </a>
                                   <a href="/amthuc" class="tit" title="Ẩm thực">Ẩm thực</a>
                               </li>
                               
                           </ul>
                           <!--search-->
                           <div class="icoSch">
                                <div class="frmGrp hsFedBck" id="icon_search">
                                    <form style="margin: 0px" name="search_box" id="search_box" target="_blank">
                                        <input type="hidden" value="015713360359124540288:broohx1xloo" name="cx">
                                        <input type="hidden" value="UTF-8" name="ie">
                                        <input class="frmctrl" id="search" placeholder="Nhập tin tức cần tìm" type="text"
                                            name="q" spellcheck="false" autocomplete="off" value="Nhập tin tức cần tìm"
                                            onblur="javascript:if(this.value==''){this.value='Nhập tin tức cần tìm'}"
                                            onfocus="javascript:if(this.value=='Nhập tin tức cần tìm'){this.value=''}">
                                        <a href="#"><span class="icoSearTop"></span></a>
                                    </form>
                                </div>
                            </div>
                       </div>
                   </div>
                   <!--END MENU RIGHT-->
       
                   <!--START MENU LEFT-->
                   <!--24h-->
                   <div class="contnr">
                       <div class="log">
                           <div class="hmClk logoOld">
                               <a href="#"><img class="initial loading" alt="img home"
                                       src="https://cdn.24h.com.vn/images/2014/24h_logo_trang_chu_2015.png"></a>
                           </div>
                       </div>
                   </div>
                   >
                   <!--END MENU LEFT-->
               </div>
           </header>
           
        </div>
    <!--END MENU HOME-->


    <!--START TIN NONG-->
    <div class="container">
        <div class="zn-container">

            <div class="title">
                <p>trang chủ</p>
                <h1><%= results[0].type1%></h1>
            </div>
            <div class="flex-container column">

                    <div class="main_">
                        <div class="top">
                                <div class="zn__column--idx-0">
                                        <ul class="col1-tinnong">
                    
                                            <div class="item">
                                                <div class="img">
                                                    <a href="#"
                                                        title="Viettel - Thanh Hóa: Bùi Tiến Dũng tỏa sáng, tiếc cho Messi xứ Thanh">
                                                        <img class="width-100 initial loaded "
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01//1551446716-313-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                    
                                                </div>
                                                <div class="inner">
                                                    <header>
                                                        <h2 class="name cxanh">
                                                            <a href="#">Viettel - Thanh Hóa: Bùi Tiến Dũng tỏa sáng, tiếc cho"Messi xứ
                                                                Thanh"</a>
                                                        </h2>
                                                    </header>
                                                    <div class="desc">
                                                        (Vòng 2 V-League 2019) Viettel và Thanh Hóa đã cống hiến một màn đọ sức rất hấp dẫn.
                                                    </div>
                                                </div>
                                            </div>
                    
                                        </ul>
                    
                                    </div>
                    
                    
                                    <div class="zn__column--idx-1">
                                        <div class="item">
                                            <div class="img">
                                                <a href="#">
                                                    <img class="width-100"
                                                        src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01//thai-1551449003-17-width640height480.jpg"
                                                        alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="inner1">
                                            <header>
                                                <h2 class="name">
                                                    <a href="#">Xuân Trường đá chính ở Buriram: Suýt gây họa với pha phạm
                                                        lỗi ở
                                                        Thai-League </a>
                                                </h2>
                                            </header>
                                        </div>
                    
                                        <div class="item" id="item2">
                                            <div class="img">
                                                <a href="#">
                                                    <img class="width-100"
                                                        src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01//tuananh-1551448127-590-width640height480.jpg"
                                                        alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="inner1">
                                            <header>
                                                <h2 class="name">
                                                    <a href="#">Quân bầu Đức thua đau TP HCM, Tuấn Anh vẫn đầy bản lĩnh </a>
                                                </h2>
                                            </header>
                                        </div>
                                    </div>
                            </div>
                            <div class="bottom">
                                <!--START TIN TRONG NUOC-->
                                <div class="l-container">
                                    <div class="title">
                                        <h1>tin trong nước</h1>
                                    </div>
                                    <div class="flex-container">
                        
                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded"
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded"
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                       
                        
                                    </div>
                        
                        
                                    <div class="flex-container">
                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded"
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded"
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        
                        
                                    </div>
                        
                        
                        
                                    <div class="flex-container">
                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded"
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded"
                                                            src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg"
                                                            alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                      
                        
                                    </div>
                                </div>
                                <!--END TIN TRONG NUOC-->

                                <!--SO THU TU TRANG-->
                                <div >
                                        
                                        
                                        <div class="pagination">
                                          <a href="#">&laquo;</a>
                                          <a href="#">1</a>
                                          <a class="active" href="#">2</a>
                                          <a href="#">3</a>
                                          <a href="#">4</a>
                                          <a href="#">5</a>
                                          <a href="#">6</a>
                                          <a href="#">&raquo;</a>
                                        </div>
                                </div>
                                <!--END SO THU TU TRANG-->
                                <!--START TIN QUOC TE-->
                                <div class="l-container">
                                    <div class="title">
                                        <h1>tin quốc tế</h1>
                                    </div>
                                    <div class="flex-container">
                        
                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded" src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg" alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded" src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg" alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                       
                        
                                    </div>
                        
                        
                                    <div class="flex-container">
                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded" src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg" alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded" src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg" alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        
                        
                                    </div>
                        
                        
                        
                                    <div class="flex-container">
                                        <div class="zn__column--idx-0 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded" src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg" alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                        <div class="zn__column--idx-1 column">
                                            <article class="bxDoiSbIt">
                                                <header>
                                                    <h2>
                                                        <span class="nwsTit postname">
                                                            <a href="#">Real tái đấu “Siêu kinh điển”: Benzema bị trộm đồ, fan đòi
                                                                Mourinho trở...</a>
                                                        </span>
                                                    </h2>
                                                </header>
                                                <span class="imgFlt imgNws">
                                                    <a href="#">
                                                        <img class="width-100 initial loaded" src="https://cdn.24h.com.vn/upload/1-2019/images/2019-03-01/medium/1551433608-472-thumbnail.jpg" alt="">
                                                    </a>
                                                </span>
                                                <span class="nwsSp descd">
                                                    HLV Jose Mourinho rất có thể sẽ tái xuất dẫn dắt Real – đội bóng từng sa thải
                                                    ông.
                                                </span>
                                                <span class="nwsTit">
                                                    <span class="updTm dated">
                                                        <span class="updTm">02/03/2019 | 00:03</span>
                                                    </span>
                                                </span>
                                            </article>
                                        </div>
                        
                                      
                        
                                    </div>
                                </div>
                                <!--END TIN QUOC TE-->


                                <!--SỐ THỰ TỰ TRANG -->

                                <style>
                                   .pagination {
                                    display: inline-block;
                                    margin-left: 200px;
                                    }

                                    .pagination a {
                                    color: black;
                                    float: left;
                                    padding: 8px 16px;
                                    text-decoration: none;
                                    }

                                    .pagination a.active {
                                    background-color: #4CAF50;
                                    color: white;
                                    }

                                    .pagination a:hover:not(.active) {background-color: #ddd;}
                                </style>
                                <div >
                                        
                                        
                                        <div class="pagination">
                                          <a href="#">&laquo;</a>
                                          <a href="#">1</a>
                                          <a class="active" href="#">2</a>
                                          <a href="#">3</a>
                                          <a href="#">4</a>
                                          <a href="#">5</a>
                                          <a href="#">6</a>
                                          <a href="#">&raquo;</a>
                                        </div>
                                </div>
                                <!--END SỐ THỨ TỰ TRANG-->


                                <!--CHỦ ĐỀ LIÊN QUAN -->
                                <div class="container_lquan">
                                   
                                    <div class="content_lquan">
                                        <div class="box1 box">
                                            <div class="title_lquan">
                                                <a href="#">
                                                    <span>
                                                          Kinh Doanh
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="box_tin_hot_lquan">
                                               

                                                     <div class="tin_hot_lquan"> 
                                                            <div class="tin_hot_text_lquan">
                                                                    <a href="#">
                                                                        <span> 
                                                                                Trúng 23 tỷ nhờ mua tấm vé số cuối cùng còn sót lại                                                                        </span>
                                                                </a>  
                                                            </div>
                                                        <div class="img_tin_hot_lquan">
                                                            <a href="#">
                                                                    <img src="https://cdn.cnn.com/cnnnext/dam/assets/190504200214-21-kentucky-derby-2019-exlarge-169.jpg" width="100%" height="200px">
                                                            </a>
                                                            </div>
                                                           
                                                       </div>

                                                        <div class="title_hot_lquan">
                                                            <ul>
                                                               <li>
                                                                    <div class="title_hot_item_lquan">
                                                                            <a href="#">
                                                                                        <span> 
                                                                                                Tư duy nào khiến bạn làm việc mãi không giàu?                                                                                        </span>
                                         
                                                                                            </a>  
                                                                            
                                                                        </div>
                                                               </li>
                                                               <li>
                                                                    <div class="title_hot_item_lquan">
                                                                            <a href="#">
                                                                                        <span> 
                                                                                                Đại gia tuần qua: Tung hàng khủng, ông Phạm Nhật Vượng tiết lộ kế hoạch chơi lớn                                                                                        </span>
                                                                            </a>  
                                                                            
                                                                    </div>
                                                               </li> 
                                                               <li>
                                                                    <div class="title_hot_item_lquan">
                                                                            <a href="#">
                                                                                        <span> 
                                                                                                Tư duy nào khiến bạn làm việc mãi không giàu?                                                                                        </span>
                                                                            </a>  
                                                                            
                                                                        </div>
                                                               </li>
                                                            </ul>
                                                               
                                                                   
                                                        </div>
                                                            
                                            </div>
                                            

                                            
                                        </div>

                                        <div class="box2 box">
                                                <div class="title_lquan">
                                                    <a href="#">
                                                        <span>
                                                              Kinh Doanh
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="box_tin_hot_lquan">
                                                   
    
                                                         <div class="tin_hot_lquan"> 
                                                                <div class="tin_hot_text_lquan">
                                                                        <a href="#">
                                                                            <span> 
                                                                                    Trúng 23 tỷ nhờ mua tấm vé số cuối cùng còn sót lại                                                                        </span>
                                                                    </a>  
                                                                </div>
                                                            <div class="img_tin_hot_lquan">
                                                                <a href="#">
                                                                        <img src="https://cdn.cnn.com/cnnnext/dam/assets/190504200214-21-kentucky-derby-2019-exlarge-169.jpg" width="100%" height="200px">
                                                                </a>
                                                                </div>
                                                               
                                                           </div>
    
                                                            <div class="title_hot_lquan">
                                                                <ul>
                                                                   <li>
                                                                        <div class="title_hot_item_lquan">
                                                                                <a href="#">
                                                                                            <span> 
                                                                                                    Tư duy nào khiến bạn làm việc mãi không giàu?                                                                                        </span>
                                             
                                                                                                </a>  
                                                                                
                                                                            </div>
                                                                   </li>
                                                                   <li>
                                                                        <div class="title_hot_item_lquan">
                                                                                <a href="#">
                                                                                            <span> 
                                                                                                    Đại gia tuần qua: Tung hàng khủng, ông Phạm Nhật Vượng tiết lộ kế hoạch chơi lớn                                                                                        </span>
                                                                                </a>  
                                                                                
                                                                        </div>
                                                                   </li> 
                                                                   <li>
                                                                        <div class="title_hot_item_lquan">
                                                                                <a href="#">
                                                                                            <span> 
                                                                                                    Tư duy nào khiến bạn làm việc mãi không giàu?                                                                                        </span>
                                                                                </a>  
                                                                                
                                                                            </div>
                                                                   </li>
                                                                </ul>
                                                                   
                                                                       
                                                            </div>
                                                                
                                                </div>
                                                
    
                                                
                                            </div>
                                    </div>
                                    
                                    
                                </div>
                                <!--END CHỦ ĐỀ LIÊN QUAN -->
                                
                               
                                <!-- TIN HOT TRONG TUAN -->
                                
                              
                                 <!--END TIN HOT TRONG TUAN -->

                               
                            </div>

                    </div>
                    <div class="zn__column--idx-2 right">
                                <div class="div2">
                                        <a href="#">
                                                <div class="anh_qc_cot2" >
                                                </div>
                                        </a>


                                

                                            <h3 style="color:#378b36;margin:10px 0px 10px 5px;">Tin Tức Thị Trường</h3>
                                            <hr style="color:#378b36;">
                                            <div class="tinPhu" style="width: 330px;">
                                                    <div class="anhtinPhu">
                                                        <a href="#"><img src="Image/c2_1.jpg" alt="" title="a1"></a>                        
                                                    </div>
                                                
                                                    <div style="float:left;width:60%;">
                                                        <a href="#">Cha mẹ sành điệu có biết cách chọn sữa tươi chuẩn cho con?</a>
                                                    </div>
                                            </div>
                                            <div class="tinPhu" style="width: 330px;">
                                                    <div class="anhtinPhu">
                                                        <a href="#"><img src="Image/c2_2.jpg" alt="" title="a1"></a>   
                                                    </div>
                                
                                                    <div>
                                                        <a href="#">Du lịch Hàn Quốc mùa xuân – Cảm nhận sự khác biệt</a> 
                                                    </div>
                                                                    
                                            </div>
                                            <div class="tinPhu" style="width: 330px;">
                                                    <div class="anhtinPhu">
                                                        <a href="#"><img src="Image/c2_3.jpg" alt="" title="a1"></a>   
                                                    </div>
                                
                                                    <div>
                                                        <a href="#"> Bia Sài Gòn tạo sự khác biệt khi lan tỏa niềm tự hào Việt Nam</a>
                                                    </div>
                                                                    
                                            </div>
                                            <div class="tinPhu" style="width: 330px;">
                                                    <div class="anhtinPhu">
                                                        <a href="#"><img src="Image/c2_4.jpg" alt="" title="a1"></a>   
                                                    </div>
                                
                                                    <div>
                                                        <a href="#">Ngày cưới bạn có muốn khoác lên mình những chiếc váy cưới lộng lẫy thế này không?</a>                   
                                                    </div>
                                                    
                                            </div>
                                            <div style="clear:left"></div>
                                            <!--2 div tin nhỏ hơn---------------------------------------------------------------------------->
                                            
                                            <!--phần giữ nguyên-->
                                    
                                </div>
                    </div>

                
            </div>

       


        </div>

        

		  
    </div>



    <!---phần cuối trang-->
    <div>          
                     
            <div style="margin: 0 auto;text-align: center;background: #383535;padding: 5px;">
                <a href="#" class="tabCuoi">Giới thiệu</a>|
                <a href="#" class="tabCuoi">Góp ý</a>|
                
              </div>
            <!------>
          <div class="chuCuoi">
                  <p>© 2017 Trường Đại học Công nghệ, Đại học Quốc Gia Hà Nội </p>

                  <p>	Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội </p>
                  <p>	Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn
                      </p>
          </div>
        <!----->  
         
        </div>
<!--hết phần cuối trang-->

</body>

</html>