<!--https://www.24h.com.vn/bong-da/mu-liverpool-hu-hon-doi-mat-ton-that-khong-ngo-h1-c48a1030819.html-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MU - Liverpool</title>


    <style>
        .main:after {
            content: "";
            display: table;
            clear: both;
        }

        .div1 {
            float: left;
            width: 700px;
            margin-left: 50px;
            padding-right: 30px;
        }
        .bang{
            width: 670px;
        }
        table,tr,th,td{
            border:1px solid red;
        }
        tr,th,td{
            margin:1px;
            text-align: center;
        }
        .cotChan{
            background-color:#b6e983;
        }
        .div2 {
            float: left;
            width: 300px;
        }

        .main{
            max-width: 1100px;
            padding: 30 0px;
        }
        .main{
            max-width: 1200px;
            display:flex;
            margin: 0 auto;
            padding-top:60px; 
}

.row{
	margin-top:15px;
}
        *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}
 
/*----------CODE HEADING-----------------------*/
/*---------------------------------------------*/

/*-----------default -----------------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 12px;
   
}

/*--------------HEADING ---------------------*/
.hdr {
    width: 100%;
    position: fixed;
    height: 50px;
    background: #78b43d;
    margin: 0 auto;
    top:0px;
    background-attachment: scroll!important;
}

/*.hdr .menu_bar{
    width: 75%;
    margin: 0 auto;
}*/

div{
    display: block;
}

.contnr{
    margin: 0 auto;
    width: 1004px;
    background: #fff;
}


/*----------------Menu right---------------*/
#contnr_right{
    position: relative;
}

.tpMnRt {

    position: absolute;
    top: 0;
    right: 0;
    width: 815px;
}

.tpMnRtx ul{
    border-right: #90c95a solid 1px;
    
}

.tpMnRt ul{
    height: 50px;
    line-height: 40px;
    width: 760px;
    float: left;
    /*margin-left: -140px;*/
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.tpMnRt ul li{
    padding: 0 3px;
    float: initial;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    text-align: center;
}

.tpMnRtx ul li{
    height: 45px;
    padding-top: 5px;
}

.rlt{
    position: relative;
}

.tpMnRtx ul li a:first-child{
    height: 10px;
    display: block;

    margin-bottom: 4px;
}

.tpMnRtx ul li a{
    text-decoration: none; /*khong gach chan*/
}

.contnr .tpMnRtx ul li a .tit{
    font-size: 10px;
    padding: 0 1px;
    border: 0;
    margin: 0;
    /*vertical-align: middle;*/
}

.tpMnRt ul li a.tit{
    font-size: 10px;
    line-height: 40px;
    color: #fff;
    padding: 0 7px 0 0;
    white-space: nowrap;
    text-transform: uppercase;
}

/*--------------Search--------------------*/

/*-------------------search-----------------------*/

.tpMnRt .icoSch {
    float: right;
    position: absolute;
    border-right: white solid 1px;
    height: 50px;
    padding-right: 8px;
    padding-top: 5px;
    right: 0;
}

.hsFedBck{
    float: right;
    height: 32px;
    width: 32px;
    position: relative;
}

.icoSch form{
    margin-top: -1px!important;
}

.icoSch .hsFedBck input[placeholder] {
    opacity: 0;
}

.hsFedBck .frmctrl {
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    width: 150%;
    height: 30px;
    font-size: 14px;
    color: #555;

}

.icoSch .hsFedBck:hover input[placeholder],
.icoSch .hsFedBck:active input[placeholder]{
    opacity: 1;
}

.icoSch .hsFedBck:hover .frmctrl,
.icoSch .hsFedBck:active .frmctrl{
    position: relative;
    width: 780px;
    height: 40px;
    background-color: #fff;
    right: 780px;
}

.hsFedBck a {
    position: absolute;
    right: 6px;
    top: 8px;
}

.icoSearTop {
    background: url(http://cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -4887px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

/*------------------------------------------*/
/*--------------Menu Left------------------*/


.log{
    float: left;
    width: 90px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.logoOld {
    padding-top: 5px;
    left: 0;
}
.hmClk {
    position: absolute;
    height: 50px;
    left: -1px;
}

.hmClk img{
    border: 0;
}

/*------------------------Danh muc------------*/
.mnTp{
    width: 80px; /*70px*/
    float: left;
    border-left: #90c95a solid 1px;
    border-right: #90c95a solid 1px;
    height: 50px;
    padding: 12px 0 0 10px;
}


.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    left: -101px;
    top: -9px;
}

.mnTp ul{
    width: 182px;
    margin-right: 0;
    font-size: 11px;
    margin-bottom: -1px;
}

.mnTp ul, .mnTp ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

#headerd .sbLix {
    margin-top: -50010px;
    margin-left: -21px;
}

.nav .sbLi {
    width: 100%;
}

.mnTp .nav {
    width: 182px;
    margin-right: 0;
    font-size: 10px;
    margin-bottom: -1px;
}

.nav li{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 10px;
    position: relative;
    margin-left: 0px;
    cursor: pointer;
}

.mnTp .nav .sbLi a {
    font-size: 10px;
    background: url(//cdn.24h.com.vn/images/2014/menu-top-xem-danh-muc.gif) no-repeat 0 0;
    height: 23px;
    border: 0;
    color: #fff;
    background-position: 40px 0;
    padding-top: 29px!important;
    text-transform: uppercase;
}

.nav a {
    position: relative;
    width: 157px;
    margin-right: -181px;
    float: left;
    font-weight: 400;
    text-align: left;
    line-height: 16px;
    padding: 6px 0 5px 25px !important;
}

.sbA {
    margin-top: 50000px;
}

a{
    text-decoration: none;
}
#danh_muc_text{
    position:relative;
    font-size: 11px;
    text-transform: uppercase;
    top:22px;

}
#danh_muc_icon{
    position: relative;
    bottom: 15px;
    right:7px;
}
.hdr_mobile{
    display: none;
}
.zn-container_reponsive, .l-container_reponsive{
    display: none;
}
/*REPONSIVE TOP*/

   
/*TIN NHÁY NHÁY---------------------------------------------------------------------------------------------*/
.anh_qc_cot2{ 
    width: 100%;
    height:600px;
    width:300px;
    background-image:url('../anh/thuongDinh.png');
    background-repeat: no-repeat;
  
    -webkit-animation:anh_qc 20s infinite;
}
@-webkit-keyframes anh_qc {
    0% {background-image:url('../anh/thuongDinh.png');background-repeat: no-repeat}
    25% {background-image:url('../anh/anh_qc_cot2.png');background-repeat: no-repeat}
    50% {background-image:url('../anh/anh_qc_cot2_1.png');background-repeat: no-repeat}
    75% {background-image:url('../anh/anh_qc_cot2_2.png');background-repeat: no-repeat}    
}
/*-----------------TIN TỨC THỊ TRƯỜNG-----------------------------------------------------------------------*/
.tinPhu{
    float: left;
}
.anhtinPhu{
    float: left;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 7px;
    width:33.32%;
}

/*đến tin trong 1 khung-showbiz*/
.showbiz{
    text-decoration: none;
    color:black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.5;
}
.showbiz:hover{
    color:#378b36;
}
/*tin tức thi trường*/
.anhtinPhu+div>a{
    text-decoration: none;
    color:black;
    font-size: 19px;
}
.anhtinPhu+div>a:hover{
    color:#378b36;
}
.anhtinPhu+div{
    float:left;width:60%;
}
/*dời sống sobizz*/
.doi_song_showbiz{
    font-family: Arial,Helvetica,sans-serif;
    width:100%;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top:7px;
    padding-bottom:7px;
    background-image: url('../anh/cot2_nen.png');
    background-size: 340px 40px;
    background-repeat: no-repeat;color: seashell;
    font-weight:600
}
.doi_song_showbiz_tin{
    width: 100%;border-bottom: 1px solid black;
}

/* .div1{
    max-width: 700px;
    background-color:white;
    margin-left: 90px;
    margin-right: 30px;
} */
/*------------------------------*/
.trangchu,.bongda{
    text-decoration:none;
    color:#378b36;
    font-size: 25px;
    margin-right: 0;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-animation: trangchu 5s infinite;
}
@-webkit-keyframes trangchu{
    0%{color: aqua}
    25%{color: rgb(219, 31, 31)}
    50%{color: rgb(88, 34, 214)}
    75%{color: rgb(225, 240, 14)}
}
#list_phia_duoi_phan_tin>ul{
    list-style: none!important;
    font-size: 13px!important;
    float: left!important;
    margin-left: 0!important;
    width: 100%!important;
    padding-inline-start: 0!important;
}
#list_phia_duoi_phan_tin>ul>li{
    display: inline!important;
    float: left!important;
    background-color: #e1e1e1!important;
    margin-right: 2px!important; /*khoang cach giua 2 li*/
    padding:3px 5px!important;
}
#list_phia_duoi_phan_tin>ul>li:hover{
    background-color:#a5f059!important;
}
#header1{
    display: block;
    font-size:32px;

}
.thoigian{
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color:#999;
    float: left;
}

.thoigianLink{
    padding-bottom: 20px;
}

.iconMXH{
    float: right;
    width: 25px;
    height: 25px;
    background-color: red;
    margin-left: 7px;
    margin-right: 5px;
}
#video{
    width: 100%;
}
.tintuc{
    width: 100%;
   padding-bottom: 10px;
}
.tintucChu{
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 10px;
}
/*tin nhanh co 3 cái nho nhỏ*/
.tinNhanh{
    float: left;
    width: 100%;
    max-width: 100px;
    height: 100px;
}
.tinNhanh+div{
    width: 160px;
    float:left;
    background-color:  #f2f2f2;
    height: 100px;
    padding:7px;
    text-align: left;
}

/*phần cuối trang*/
.tabCuoi{
    font-weight: 600;
    color: #fff;
    margin: 0px 15px;
    font-size: 15px;
    text-decoration: none;
}
.chuCuoi{
    width: 998px;
    margin: 0 auto;
    font-size: 12px;
    color: #7d7d7d;
    text-align: center;
    padding: 10px 0 0;
    margin-bottom: 10px;
}
.tintuc center{
 color: blue;
    font-size: 15px;

}
.tlqHeader .tit{
    display: block;
    font-size: 175%;
    text-transform: uppercase;
    color: #78b43d;
    border-bottom: 2px solid #78b43d;
    line-height: 30px;
    margin-top: 30px;
    font-weight: 600;
}

.tin_lq{
    z-index: 0;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 250px; /* Should be removed. Only for demonstration */
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.mot_tlq{
    margin-left: -10px;
    width: 100%;
    display: inline-block;
}

.mot_tlq a .img{
    display: block;
    height: 150px;
    text-align: center;
    margin-bottom: 6px;
}

.width-100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mot_tlq header{
    display: block;
    color: #333;
    padding: 0 0 5px;
    margin: 0;
}

.bld{
    font-size: 140%;
    height: 70px;
    display: block;
    overflow: hidden;
    line-height: 1.2;
    margin-bottom: 0;
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.bld:hover, .bld:active{
    color: #78b43d;
}



    </style>

</head>

<body>
    <!--START MENU HOME-->
   <!--THANH TOP-->
   <div id="zn-top">
        <!--START HEADING-->
        <header class="hdr" id="headerd">
           <div class="menu_bar">
               <!--START MENU RIGHT-->
               <div class="contnr" id="contnr_right">
                   <div class="tpMnRt tpMnRtx">
                       <ul>
                           <!--bong da-->
                           <li class="rlt">
                               <a href="/bongda" title="Bóng đá">
                                   <img class="initial loading"
                                       src="../Image/bong_da.png"
                                       alt="Khong the hien thi">
                               </a>
                               <a href="/bongda" class="tit" title="Bóng đá">Bóng đá</a>
                           </li>
                           
                           <!--kinh doanh-->
                           <li class="rlt">
                               <a href="/kinhdoanh" title="Kinh doanh">
                                   <img src="../Image/kinh_doanh.png"
                                       class="initial loading" alt="">
                               </a>
                               <a href="/kinhdoanh" class="tit" title="Kinh doanh">Kinh doanh</a>
                           </li>
                           <!--thi truong-->
                           <li class="rlt">
                               <a href="/thitruong" title="Thị trường - Tiêu dùng">
                                   <div class="thi_truong_icon_full">
                                        <img class="initial loading"
                                        src="../Image/thi_truong.png"
                                        alt="">
                                   </div>
                               
                                   
                                   <a href="/thitruong" class="thi_truong_text_full tit" title="Thị trường - Tiêu dùng">thị trường</a>
                                   
                               </a>
                               
                           </li>
                           <!--Suc khoe-->
                           <li class="rlt">
                                <div class="suckhoe_icon">
                               <a href="/suckhoe" title="Sức khỏe - Đời sống">
                                   
                                        <img class="initial loading"
                                        src="../Image/suc_khoe.png"
                                        alt="">
                                   
                                   
                               </a>
                               <a href="/suckhoe" class="tit" title="Sức khỏe - Đời sống">Sức khỏe</a>
                            </div>
                           </li>
                           <!--Hi-tech-->
                           <li class="rlt">
                               <a href="/hitech" title="Thời trang Hi-tech">
                                   <img class="initial loading"
                                       src="../Image/hi_tech.png"
                                       alt="">
                               </a>
                               <a href="/hitech" class="tit" title="Thời trang Hi-tech">Hi-tech</a>
                           </li>
                           <!--Đời sống showbiz-->
                           <li class="rlt">
                               <a href="/showbiz" title="Đời sống showbiz">
                                   <img class="initial loading"
                                       src="../Image/showbiz.png"
                                       alt="">
                               </a>
                               <a href="/showbiz" class="tit" title="Đời sống showbiz"> Showbiz</a>
                           </li>
                           <!--the gioi-->
                           <li class="rlt">
                               <a href="/thegioi" title="Thế giới">
                                   <img class="initial loading"
                                       src="../Image/the_gioi.png"
                                       alt="">
                               </a>
                               <a href="/thegioi" class="tit">Thế giới</a>
                           </li>
                          
                           <!--phia dep-->
                           <li class="rlt">
                               <a href="/phaidep" title="Phái đẹp">
                                   <img class="initial loading"
                                       src="../Image/phai_dep.png"
                                       alt="">
                               </a>
                               <a href="/phaidep" class="tit" title="Phái đẹp">Phái đẹp</a>
                           </li>
                           <!--am thuc-->
                           <li class="rlt">
                               <a href="/amthuc" title="Ẩm thực">
                                   <img class="initial loading"
                                       src="../Image/am_thuc.png"
                                       alt="">
                               </a>
                               <a href="/amthuc" class="tit" title="Ẩm thực">Ẩm thực</a>
                           </li>
                           
                       </ul>
                       <!--search-->
                       <div class="icoSch">
                            <div class="frmGrp hsFedBck" id="icon_search">
                                <form style="margin: 0px" name="search_box" id="search_box" target="_blank">
                                    <input type="hidden" value="015713360359124540288:broohx1xloo" name="cx">
                                    <input type="hidden" value="UTF-8" name="ie">
                                    <input class="frmctrl" id="search" placeholder="Nhập tin tức cần tìm" type="text"
                                        name="q" spellcheck="false" autocomplete="off" value="Nhập tin tức cần tìm"
                                        onblur="javascript:if(this.value==''){this.value='Nhập tin tức cần tìm'}"
                                        onfocus="javascript:if(this.value=='Nhập tin tức cần tìm'){this.value=''}">
                                    <a href="#"><span class="icoSearTop"></span></a>
                                </form>
                            </div>
                        </div>
                   </div>
               </div>
               <!--END MENU RIGHT-->
   
               <!--START MENU LEFT-->
               <!--24h-->
               <div class="contnr">
                   <div class="log">
                       <div class="hmClk logoOld">
                           <a href="#"><img class="initial loading" alt="img home"
                                   src="https://cdn.24h.com.vn/images/2014/24h_logo_trang_chu_2015.png"></a>
                       </div>
                   </div>
               </div>
               >
               <!--END MENU LEFT-->
           </div>
       </header>
       
    </div>
    <!--END MENU HOME-->

    <div class="main">

        <div class="row">
            <!--cột 1----------------------------------------->
            <div class="div1">
                <!--các link điều hướng TRANG CHỦ, BÓNG ĐÁ-->
                <nav>
                    <a class="trangchu" href="#" style="border-right:1px solid black;">TRANG CHỦ</a>
                    <a class="bongda" href="#"> <b>BÓNG ĐÁ</b> </a><br><br>
                    <!-- <div id="list_phia_duoi_phan_tin">
                                 <ul>
                                    <li>Lịch thi đấu</li>
                                    <li>Sự kiện-Bình luận</li>
                                    <li>Video</li>
                                    <li>Livesocer</li>
                                    <li>Ảnh bóng đá-người đẹp</li>
                                    <li>Lịch thi đấu hôm nay</li>
                                </ul>
                            </div> -->
                </nav>
                <!--tên chính của tin------------------------------------>
                <!--sao lại là result[0]-->    
                <h1 id="header1"><%= results[0].name%></h1>
                <!--ngày tháng năm VÀ chia sẻ mạng xã hội------------------>
                <div class="thoigianLink">
                    <div class="thoigian" style="margin-top: 9px;">
                        Thứ Hai, ngày 25/02/2019 00:10 AM (GMT+7)
                    </div>
                    <a href="#" title="Chia sẻ bài viết này trên G+"> <span class="iconMXH"><img src="anh/iconMXHfb.png"
                                alt="fb"></span></a>
                    <a href="#" title="CHia sẻ bài viết này trên Facebook"><span class="iconMXH"> <img
                                src="anh/iconMXH.png" alt="fb"></span></a>
                    <a href="#" title="Chia sẻ trên Fanpage"><span class="iconMXH"> <img src="anh/iconMXHg.png"
                                alt="g+"></span></a>
                    <div style="overflow: auto"></div>
                </div>
                <!--tiêu đề con thứ 2-------------------------------------------------------------->
                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <span style="font-size:1.3em;font-weight: 700 ">
                        (Video bóng đá - Kết quả bóng đá, MU – Liverpool, vòng 27 Ngoại hạng Anh) MU bị thiệt hại nặng
                        nề trong hiệp 1 nhưng vẫn
                        chống trả Liverpool kiên cường.</span>
                </div>
                <!--Một vài link sự kiện------------------------------------------------------------------>
                <!-- <div>
                            sự kiện:
                            <a href="#" title="Premier League 2018-2019">Premier League 2018-2019</a>,
                            <a href="#" title="Manchester United"> Manchester United</a>,
                            <a href="#" title="MU - Liverpool: Rực lửa">MU - Liverpool: Rực lửa</a>
                        </div> -->
                <!--video được thay bằng ảnh------------------------------------------------------------>



                <!--tin tức------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="tintucChu">
                        <%= results[0].content1%>
                </div>

                <!--tin tức ảnh và phụ đề-->
                <div class="tintuc"><img src="#" alt="anhTinTuc" style="width: 100%;"></div>
                <div class="tintuc"><span style="color:blue;">
                        <center>MU suýt nữa trả giá vì đường chuyền về ẩu của
                            Young chỉ 20 giây sau khi trận đấu bắt đầu</center>
                    </span>
                </div>
                <div class="tintucChu">Các cầu thủ MU chuyền bóng hỏng rất nhiều ngay đầu trận và chỉ mất 20 giây để họ
                    làm khán giả chủ nhà
                    hú vía với pha chuyền về của Young cho De Gea, nhưng Liverpool không tận dụng được quả đá phạt gián
                    tiếp sau đó.
                    Liverpool liên tục khoét vào cánh trái của MU và Milner dâng cao thường xuyên, nhưng các quả tạt của
                    anh đi rất thiếu
                    chính xác.
                </div>
                <div class="tintucChu">Vừa mới tạm ổn định thế trận, thiệt hại lực lượng giáng xuống rất mạnh cho MU khi
                    Rashford, Herrera
                    và Mata lần lượt bị đau. Solskjaer buộc phải rút Herrera và Mata để Pereira và Lingard (mới bình
                    phục) vào sân. Đến lượt
                    Liverpool mất người khi Firmino bị lật cổ chân và Daniel Sturridge phải vào thay.
                </div>
                <div class="tintucChu">Trong một thế trận bị vỡ vụn khá nhiều vì hai bên tấn công thiếu ý tưởng và bị
                    thiệt hại quân
                    số, phút 40 MU lại có cơ hội mở tỷ số ngon ăn nhất hiệp. Pha phản công của họ kết thúc với cú chọc
                    khe của Lukaku
                    cho Lingard băng vào vòng cấm, nhưng Alisson đã bắt được bóng khi Lingard định vòng qua.
                </div>
                <!--tin tức ảnh và phụ đề-->
                <div class="tintuc"> <img src="anh/anhTinTuc1.jpg" alt="anhTinTuc" style="width: 100%;"></div>
                <div class="tintuc"><span style="color:blue;">
                        <center>Lingard bị Alisson từ chối ở pha đối mặt</center>
                    </span>
                </div>
                <div class="tintucChu">Kết thúc pha bóng, đến lượt Lingard bị đau khiến anh lại rời sân để Alexis
                    Sanchez vào thay,
                    MU chính thức dùng hết quyền thay người trong hiệp 1. Cuối hiệp Liverpool có một cơ hội từ phạt góc
                    nhưng Matip
                    đánh đầu đi vọt xà ngang.
                </div>
                <div class="tintucChu">Bước sang hiệp 2 thế tấn công của Liverpool tiếp tục bế tắc khi ngoài bài đánh
                    cánh phải và Milner
                    tạt vào thì họ tỏ ra bí lối, đặc biệt là Salah liên tục bị Shaw áp sát từ phía sau khiến anh ở vào
                    thế quay lưng với
                    cầu môn MU thay vì dùng tốc độ đi bóng. Tuy nhiên phía MU cũng không có nhiều đường tấn công tốt, và
                    họ thường xuyên
                    thực hiện hỏng các quả đá phạt. Một trong những tình huống như thế xảy ra ở phút 75 khi Matip đã đưa
                    bóng vào lưới nhà,
                    nhưng bàn thắng không được công nhận do Smalling đã việt vị.
                </div>
                <div class="tintucChu">Ngay cả khi Liverpool tung vào sân Xherdan Shaqiri, hung thần của MU ở lượt đi,
                    thì tình thế vẫn không
                    thay đổi và thậm chí Salah đã phải bị thay ra. Ở cuối trận MU bắt đầu có những pha phản công cánh
                    phải để Lukaku tạt vào,
                    và phút 90+1 họ đã suýt tận dụng được, nhưng Smalling giật mình không kịp dứt điểm sau khi thoát
                    được sự theo kèm của Milner.
                </div>
                <div class="tintucChu">Hòa 0-0, Liverpool trở lại ngôi đầu bảng với cách biệt chỉ 1 điểm hơn Man City,
                    đội đá trận chung kết
                    League Cup trong ngày, và hai đội giờ đã đá cùng số trận. Trong khi đó MU đã rơi khỏi top 4, do
                    Arsenal thắng
                    Southampton 2-0 và có 53 điểm, nhiều hơn MU 1 điểm.
                </div>
                <div style="font-size: 1.5em;"><strong>Tỷ số trận đấu : </strong><span
                        style="text-decoration: underline;"> MU 0 - 0 Liverpool</span></div>

                <!--đội hình xuất phát-->
                <div>
                    <h3>Đội hình xuất phát : </h3>
                    <div class="tintucChu">MU: De Gea, Young, Shaw, Lindelof, Smalling, McTominay, Pogba, Herrera, Mata,
                        Rashford, Lukaku.</div>
                    <div class="tintucChu">Liverpool: Alisson; Milner, Matip, Van Dijk, Robertson; Wijnaldum, Henderson,
                        Fabinho; Salah, Firmino, Mane.</div>
                </div>
                <!--Bảng thông tin-->
                <div class="bang">
                    <table class="bang">
                        <tr>
                            <th style="width: 25%;font-size: 1.5em;background-color: rgb(45, 170, 45);">MU</th>
                            <th style="width: 50%;font-size: 1.5em;background-color: rgb(45, 170, 45);">Đội bóng</th>
                            <th style="width: 25%;font-size: 1.5em;background-color: rgb(45, 170, 45);">Liverpool</th>
                        </tr>
                        <tr class="cotLe">
                            <td>6(3)</td>
                            <td>Dứt điểm trúng đích</td>
                            <td>7(1)</td>
                        </tr>
                        <tr class="cotChan">
                            <td>35%</td>
                            <td>Kiểm soát bóng</td>
                            <td>65%</td>
                        </tr>
                        <tr class="cotLe">
                            <td>3</td>
                            <td>Phạt góc</td>
                            <td>7</td>
                        </tr>
                        <tr class="cotChan">
                            <td>3</td>
                            <td>Việt Vị</td>
                            <td>1</td>
                        </tr>
                        <tr class="cotLe">
                            <td>15</td>
                            <td>Phạm Lỗi</td>
                            <td>17</td>
                        </tr>
                        <tr class="cotChan">
                            <td>2</td>
                            <td>Thẻ vàng</td>
                            <td>3</td>
                        </tr>
                        <tr class="cotLe">
                            <td>0</td>
                            <td>Thẻ đỏ</td>
                            <td>0</td>
                        </tr>
                        <tr class="cotChan">
                            <td>1</td>
                            <td>Cứu thua</td>
                            <td>3</td>
                        </tr>
                    </table>
                </div>
                
                <!------icon link chia sẻ------->
                
                <div style="float: right;padding-top: 7px">
                    <span style="font-size: 150%"><b>Theo Thành An</b> <i>(Khám Phá)</i> </span>
                </div>
                <!--table quảng cáo-->
               



                <!---Tin liên quan-->
                <div>
                    <div class="tlqHeader">
                        <header class="tit">Tin Liên Quan</header>
                    </div>
                    <!--hàng 1---------------------------------------------------->
                    <div class="tin_lq ">
                        <div class="row">
                            <div class="column">
                                <article class="mot_tlq">
                                    <span class="img rlt">
                                        <a href="#">
                                            <img src="https://cdn.24h.com.vn/upload/1-2019/images/2019-01-01/1546344511-972-thumbnail.jpg"
                                                alt="Tin tức trong ngày - Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5"
                                                class="width-100 loaded"></a>
                                    </span>
                                    <header>
                                        <a href="#" class="bld">
                                            Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5
                                        </a>
                                    </header>
                                </article>
                            </div>

                            <div class="column">
                                <article class="mot_tlq" style="margin-left: 0px">
                                    <span class="img rlt">
                                        <a href="#">
                                            <img src="https://cdn.24h.com.vn/upload/1-2019/images/2019-01-01/1546344511-972-thumbnail.jpg"
                                                alt="Tin tức trong ngày - Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5"
                                                class="width-100 loaded"></a>
                                    </span>
                                    <header>
                                        <a href="#" class="bld">
                                            Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5
                                        </a>
                                    </header>
                                </article>
                            </div>

                            <div class="column">
                                <article class="mot_tlq" style="margin-left: 10px">
                                    <span class="img rlt">
                                        <a href="#">
                                            <img src="https://cdn.24h.com.vn/upload/1-2019/images/2019-01-01/1546344511-972-thumbnail.jpg"
                                                alt="Tin tức trong ngày - Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5"
                                                class="width-100 loaded"></a>
                                    </span>
                                    <header>
                                        <a href="#" class="bld">
                                            Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5
                                        </a>
                                    </header>
                                </article>
                            </div>

                        </div>

                    </div>
                </div>

                <!---hàng 2-------------------------------------------------->
                <div class="tin_lq ">
                    <div class="row">
                        <div class="column">
                            <article class="mot_tlq">
                                <span class="img rlt">
                                    <a href="#">
                                        <img src="https://cdn.24h.com.vn/upload/1-2019/images/2019-01-01/1546344511-972-thumbnail.jpg"
                                            alt="Tin tức trong ngày - Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5"
                                            class="width-100 loaded"></a>
                                </span>
                                <header>
                                    <a href="#" class="bld">
                                        Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5
                                    </a>
                                </header>
                            </article>
                        </div>

                        <div class="column">
                            <article class="mot_tlq" style="margin-left: 0px">
                                <span class="img rlt">
                                    <a href="#">
                                        <img src="https://cdn.24h.com.vn/upload/1-2019/images/2019-01-01/1546344511-972-thumbnail.jpg"
                                            alt="Tin tức trong ngày - Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5"
                                            class="width-100 loaded"></a>
                                </span>
                                <header>
                                    <a href="#" class="bld">
                                        Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5
                                    </a>
                                </header>
                            </article>
                        </div>

                        <div class="column">
                            <article class="mot_tlq" style="margin-left: 10px">
                                <span class="img rlt">
                                    <a href="#">
                                        <img src="https://cdn.24h.com.vn/upload/1-2019/images/2019-01-01/1546344511-972-thumbnail.jpg"
                                            alt="Tin tức trong ngày - Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5"
                                            class="width-100 loaded"></a>
                                </span>
                                <header>
                                    <a href="#" class="bld">
                                        Điều ước năm mới của bà mẹ nghèo có con trai bị bỏng cấp độ 5
                                    </a>
                                </header>
                            </article>
                        </div>

                    </div>

                </div>
            </div>


            <!---cột 2----------------------------------->
            <div class="div2">
                <a href="#">
                    <div class="anh_qc_cot2">
                    </div>
                </a>

                <h3 style="color:#378b36;margin:10px 0px 10px 5px;">Tin Tức Thị Trường</h3>
                <hr style="color:#378b36;">
                <div class="tinPhu" style="width: 330px;">
                    <div class="anhtinPhu">
                        <a href="#"><img src="anh/c2_1.jpg" alt="" title="a1"></a>
                    </div>

                    <div style="float:left;width:60%;">
                        <a href="#">Cha mẹ sành điệu có biết cách chọn sữa tươi chuẩn cho con?</a>
                    </div>
                </div>
                <div class="tinPhu" style="width: 330px;">
                    <div class="anhtinPhu">
                        <a href="#"><img src="anh/c2_2.jpg" alt="" title="a1"></a>
                    </div>

                    <div>
                        <a href="#">Du lịch Hàn Quốc mùa xuân – Cảm nhận sự khác biệt</a>
                    </div>

                </div>
                <div class="tinPhu" style="width: 330px;">
                    <div class="anhtinPhu">
                        <a href="#"><img src="anh/c2_3.jpg" alt="" title="a1"></a>
                    </div>

                    <div>
                        <a href="#"> Bia Sài Gòn tạo sự khác biệt khi lan tỏa niềm tự hào Việt Nam</a>
                    </div>

                </div>
                <div class="tinPhu" style="width: 330px;">
                    <div class="anhtinPhu">
                        <a href="#"><img src="anh/c2_4.jpg" alt="" title="a1"></a>
                    </div>

                    <div>
                        <a href="#">Ngày cưới bạn có muốn khoác lên mình những chiếc váy cưới lộng lẫy thế này
                            không?</a>
                    </div>

                </div>
                <div style="clear:left"></div>
                <!--2 div tin nhỏ hơn---------------------------------------------------------------------------->
                <div style="border: 1px solid black;width:300px ;">
                    <div class="doi_song_showbiz">
                        ĐỜI SỐNG SHOWBIZ
                    </div>
                    <!--tin 1-->
                    <article style="" class="doi_song_showbiz_tin">
                        <div style="padding:20px;">
                            <a href="#" class="showbiz">
                                Báo Trung Quốc ca ngợi Lâm Khánh Chi nhờ việc sinh con, mẹ chồng tặng...
                            </a>
                        </div>
                    </article>
                    <!--tin 2-->
                    <article class="doi_song_showbiz_tin">
                        <div style="padding:20px;">
                            <a href="#" class="showbiz">
                                Báo Trung Quốc ca ngợi Lâm Khánh Chi nhờ việc sinh con, mẹ chồng tặng...
                            </a>
                        </div>
                    </article>
                    <!--tin 3-->
                    <article class="doi_song_showbiz_tin">
                        <div style="padding:20px;">
                            <a href="#" class="showbiz">
                                Báo Trung Quốc ca ngợi Lâm Khánh Chi nhờ việc sinh con, mẹ chồng tặng...
                            </a>
                        </div>
                    </article>
                </div>
                <!--phần giữ nguyên-->

            </div>

        </div>

    </div>


    </div>




    </div>
    <!---phần cuối-->


    <!---phần cuối trang-->
    <div>          
                     
                      <div style="margin: 0 auto;text-align: center;background: #383535;padding: 5px;">
                          <a href="#" class="tabCuoi">Giới thiệu</a>|
                          <a href="#" class="tabCuoi">Góp ý</a>|
                          
                        </div>
                      <!------>
                    <div class="chuCuoi">
                            <p>© 2017 Trường Đại học Công nghệ, Đại học Quốc Gia Hà Nội </p>

							<p>	Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội </p>
							<p>	Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn
                                </p>
                    </div>
                  <!----->  
                   
           </div>
    <!--hết phần cuối trang-->
</body>

</html>