*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 12px;
   
}

/*--------------HEADING ---------------------*/
.hdr {
    width: 100%;
    position: fixed;
    height: 50px;
    background: #404040;
    margin: 0 auto;
    top:0px;
    z-index: 10;
}

div{
    display: block;
}

.contnr{
    margin: 0 auto;
    width: 1004px;
    background: #fff;
}


/*----------------Menu right---------------*/
#contnr_right{
    position: relative;
}

.tpMnRt {

    position: absolute;
    top: 0;
    right: 0;
    width: 815px;
    height: 50px;
}

.tpMnRt ul{
    border-right: black solid 1px;
    border-left: black solid 1px;
    padding-left: 20px;
    height: 50px;
    line-height: 40px;
    width: 760px;
    float: left;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.tpMnRt ul li{
    /* padding: 0 3px; */
    float: initial;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    text-align: center;
}

.tpMnRtx ul li{
    height: 50px;
    padding-top: 5px;
}

.rlt{
    position: relative;
    margin: 0 10px;
}

.rlt:hover, 
.rlt:active{
    background-color: black;
}

.tpMnRtx ul li a:first-child{
    height: 10px;
    display: block;
    margin-bottom: 4px;
}

.tpMnRtx ul li a{
    text-decoration: none; /*khong gach chan*/
}

.contnr .tpMnRtx ul li a .tit{
    font-size: 10px;
    padding: 0 1px;
    border: 0;
    margin: 0;
    /*vertical-align: middle;*/
}

.tpMnRt ul li a.tit{
    font-size: 10px;
    line-height: 40px;
    color: #fff;
    padding: 0 7px 0 0;
    white-space: nowrap;
    text-transform: uppercase;
}

/*--------------Search--------------------*/

/*-------------------search-----------------------*/

.tpMnRt .icoSch {
    float: right;
    position: absolute;
    border-right: black solid 1px;
    height: 50px;
    padding-right: 8px;
    padding-top: 5px;
    right: 0;
}

.hsFedBck{
    float: right;
    height: 32px;
    width: 32px;
    position: relative;
}

.icoSch form{
    margin-top: -1px!important;
    height: 50px;
    width : 50px
}


.icoSch form button{
    border-radius: 10px;
    background-color:#404040;
    height: 40px;
    width: 40px; 
    margin-top: -40px;
    margin-left: -6px;
}

.icoSch .hsFedBck input[placeholder] {
    opacity: 0;
}

.hsFedBck .frmctrl {
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    width: 500px;
    height: 20px;
    font-size: 14px;
    color: #555;

}

.icoSch .hsFedBck:hover input[placeholder],
.icoSch .hsFedBck:active input[placeholder]{
    opacity: 1;
}

.icoSch .hsFedBck:hover .frmctrl,
.icoSch .hsFedBck:active .frmctrl{
    position: relative;
    width: 770px;
    height: 40px;
    background-color: #fff;
    right: 770px;
}

.hsFedBck a {
    position: absolute;
    right: 6px;
    top: 8px;
}

.icoSearTop {
    background: url(http://cdn.24h.com.vn/images/sprites092018.png) no-repeat -50px -4887px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

/*------------------------------------------*/
/*--------------Menu Left------------------*/


.log{
    float: left;
    width: 180px;
    height: 50px;
    overflow: hidden;
    position: relative;
    margin-top: 3px;
}

.logoOld {
    padding-top: 5px;
    left: 0;
}
.hmClk {
    position: absolute;
    height: 50px;
    left: -1px;
}

.hmClk img{
    border: 0;
}

.contnr .log a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

/*------------------------Danh muc------------*/
.mnTp{
    width: 80px; /*70px*/
    float: left;
    border-left: black solid 1px;
    border-right: black solid 1px;
    height: 50px;
    padding: 12px 0 0 10px;
}


.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    left: -101px;
    top: -9px;
}

.mnTp ul{
    width: 182px;
    margin-right: 0;
    font-size: 11px;
    margin-bottom: -1px;
}

.mnTp ul, .mnTp ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

#headerd .sbLix {
    margin-top: -50010px;
    margin-left: -21px;
}

.nav .sbLi {
    width: 100%;
}

.mnTp .nav {
    width: 182px;
    margin-right: 0;
    font-size: 10px;
    margin-bottom: -1px;
}

.nav li{
    margin: 0;
    padding: 0;
    color:white;
    font-size: 10px;
    position: relative;
    margin-left: 0px;
    cursor: pointer;
}

.mnTp .nav .sbLi a {
    font-size: 10px;
    background: url(//cdn.24h.com.vn/images/2014/menu-top-xem-danh-muc.gif) no-repeat 0 0;
    height: 23px;
    border: 0;
    color: #fff;
    background-position: 40px 0;
    padding-top: 29px!important;
    text-transform: uppercase;
}

.nav a {
    position: relative;
    width: 157px;
    margin-right: -181px;
    float: left;
    font-weight: 400;
    text-align: left;
    line-height: 16px;
    padding: 6px 0 5px 25px !important;
}

.sbA {
    margin-top: 50000px;
}

a{
    text-decoration: none;
}
#danh_muc_text{
    position:relative;
    font-size: 11px;
    text-transform: uppercase;
    top:22px;

}
#danh_muc_icon{
    position: relative;
    bottom: 15px;
    right:7px;
}
.hdr_mobile{
    display: none;
}
.zn-container_reponsive, .l-container_reponsive{
    display: none;
}
/*REPONSIVE TOP*/

   