.content_lquan .box{
    width: 345px;
  
    margin-right: 10px;
}

.content_lquan{
    display: flex;
    margin-top: 20px;
}

.content_lquan a {
    font-size:17px;
    color: #333;
}
.content_lquan .title_lquan a{
    font-weight: 600;
    color: #78b43d;
    font-size:17px;
}
.content_lquan .tin_hot_text_lquan span{
    font-size: 23px;
    font-weight: 700;
}
.content_lquan .title_hot_item_lquan span{
    font-size: 15px;
}
.content_lquan .title_hot_lquan a:hover{
    color:#c00;
}
.content_lquan .tin_hot_text_lquan a:hover{
    color:#c00;
}
.content_lquan .title_lquan{
    height: 24px;
    border-bottom: 2px solid #78b43d;
    text-transform: uppercase;
    padding-left: 5px;
}
.content_lquan .box_tin_hot_lquan{
    margin-top: 10px;
    
}
.content_lquan .box_tin_hot_lquan{
    margin-top: 15px;
}
.content_lquan .title_hot_item_lquan{
    padding-bottom: 6px;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 4px;
}
.content_lquan .title_hot_lquan{
    margin-top: 10px;
}
.content_lquan ul.test {
    list-style-type: square;
}
.content_lquan .tin_hot_text_lquan{
    margin-bottom: 8px;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    padding-left: 3px;
}