<!DOCTYPE html>
<html>

<head>
    <title>NEWS</title>
   
    <link rel="stylesheet" href="resourse/home_top.css">
</head>

<body>
    <!--START HEADING-->
    <header class="hdr" id="headerd">
        <!--START MENU LEFT-->
        <!--24h-->
        <div class="contnr">
            <div class="log">
                <div class="hmClk logoOld">
                    <a href="#"><img class="initial loading" alt="img home"
                            src="https://cdn.24h.com.vn/images/2014/24h_logo_trang_chu_2015.png"></a>
                </div>
            </div>
        </div>
        <!--Danh muc-->
        <div class="mnTp mnTpx">
            <ul class="nav navx">
                <li class="sbLi sbLix">
                    <a class="sbA" href="#">Danh mục</a>
                </li>
            </ul>
        </div>
        <!--END MENU LEFT-->

        <!--START MENU RIGHT-->
        <div class="contnr">
            <div class="tpMnRt tpMnRtx">
                <ul>
                    <!--bong da-->
                    <li class="rlt">
                        <a href="#" title="Bóng đá">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-soccer-ball-96-copy-1541383138-270-width20height20.png"
                                alt="Khong the hien thi">
                        </a>
                        <a href="#" class="tit" title="Bóng đá">Bóng đá</a>
                    </li>
                    <!--u22 vn-->
                    <li class="rlt">
                        <a href="#" title="U22 VN">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/1-2019/images/2019-02-21/icon-u22-20x20--1550730856-613-width20height20.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="U22 VN">U22 VN</a>
                    </li>
                    <!--kinh doanh-->
                    <li class="rlt">
                        <a href="#" title="Kinh doanh">
                            <img src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-increase-96-copy-1541383138-358-width19height19.png"
                                class="initial loading" alt="">
                        </a>
                        <a href="#" class="tit" title="Kinh doanh">Kinh doanh</a>
                    </li>
                    <!--thi truong-->
                    <li class="rlt">
                        <a href="#" title="Thị trường - Tiêu dùng">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/thitruong-1541409305-47-width20height18.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Thị trường - Tiêu dùng">thị trường</a>
                    </li>
                    <!--Suc khoe-->
                    <li class="rlt">
                        <a href="#" title="Sức khỏe - Đời sống">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/heartbeat1-1541383138-349-width20height18.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Sức khỏe - Đời sống">Sức khỏe</a>
                    </li>
                    <!--Hi-tech-->
                    <li class="rlt">
                        <a href="#" title="Thời trang Hi-tech">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-smartphone-tablet-52-copy-1541383138-560-width20height20.png"
                                alt="">
                        </a>
                        <a href="" class="tit" title="Thời trang Hi-tech">Hi-tech</a>
                    </li>
                    <!--Đời sống showbiz-->
                    <li class="rlt">
                        <a href="#" title="Đời sống showbiz">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-christmas-star-96-1541383138-392-width20height20.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Đời sống showbiz"> Showbiz</a>
                    </li>
                    <!--the gioi-->
                    <li class="rlt">
                        <a href="#" title="Thế giới">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-globe-962-1541383138-743-width20height20.png"
                                alt="">
                        </a>
                        <a href="#" class="tit">Thế giới</a>
                    </li>
                    <!--the thao-->
                    <li class="rlt">
                        <a href="#" title="Thể thao">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-running-52-copy-1541383138-825-width20height22.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Thể thao">Thể thao</a>
                    </li>
                    <!--phia dep-->
                    <li class="rlt">
                        <a href="#" title="Phái đẹp">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/avatar-copy-1541383138-498-width16height20.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Phái đẹp">Phái đẹp</a>
                    </li>
                    <!--am thuc-->
                    <li class="rlt">
                        <a href="#" title="Ẩm thực">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-food-96-1541383138-349-width19height19.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Ẩm thực">Ẩm thực</a>
                    </li>
                    <!--video-->
                    <li class="rlt">
                        <a href="#" title="Video">
                            <img class="initial loading"
                                src="https://cdn.24h.com.vn/upload/4-2018/images/2018-11-05/icons8-video-playlist-96-copy1-1541383138-966-width20height18.png"
                                alt="">
                        </a>
                        <a href="#" class="tit" title="Video">Video</a>
                    </li>
                </ul>
                <!--search-->
                <div class="icoSch">
                    <div id="icon_search" class="frmGrp hsFedBck">
                        <form style="margin:0px;" name="search_box" id="search_box" target="_blank">
                            <input class="frmctrl" id="search" placeholder="Nhập tin tức cần tìm" type="text">
                            <a href="#"><span class="icoSearTop"></span></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>
</body>

</html>